<!DOCTYPE html>

<html>
    <head>
        <title>detail</title>

     <% include ./header.ejs %>
        <div class="container-fluid">
                <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                                <div class="table-responsive">
                                    <table class="table table-condensed table-stripped table-hover">
                                            <tr class="thead">
                                      <th>classe</th>
                                      <th>prestige</th>
                                      <th>niveau</th>
                                      <th>force</th>
                                      <th>dexterite</th>
                                      <th>intelligence</th>
                                      <th>chance</th>
                                      <th>endurence</th>
                                      <th>recruter</th>
                                    </tr>
                                    <% if(data.length){ 
                                    for(var i = 0;i < data.length;i++) { %>
                                    <tr class="tbody text-center">
                                     <td><%=data[i].classe%></td>
                                     <td><%=data[i].prestige%></td>
                                     <% if (data[i].niveau) { %>
				     <td><%=data[i].niveau%></td>
                                     <% } else { %>
                                     <td></td>
                                     <%}%>
                                     <td><%=data[i].str%></td>                                     
                                     <td><%=data[i].dex%></td>
                                     <td><%=data[i].intel%></td>
                                     <td><%=data[i].luk%></td>
                                     <td><%=data[i].end%></td>
                                     <td><a href="/guildmaster/recruter/<%=data[i].idCrew%>/<%=data[i].name%>/<%=data[i].surname%>">recruter</a></td>
                                     </tr>
                                    <% }
                                    } %>
                                    </table>
                               </div>
                        </div>
                </div>
            </div> 
    </body>
</html>
