<!DOCTYPE html>
<html>
<% if(user['role']=='admin'){ %>
    <head>
	<% include ./styles.ejs %>
      	<% include ./scripts.ejs %>
        <title>Gestion</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    <% include ./header.ejs %>
    <% include ./modifierUtilisateur.ejs %>
	<div class="container-fluid">
	       <a href="/guildmaster/gestion/quete">Quêtes</a>
	    <div class="row">
		    <div class="col-sm-10 col-sm-offset-1">
			    <div class="table-responsive">
				    <table class="table table-condensed table-stripped table-hover">
					<tr class="thead">
						<th width="50px">#</th>
						<th>Pseudo</th>
						<th>Guilde</th>
						<th>Adresse e-mail</th>
						<th>Rôle</th>
						<th>Rang</th>
						<th>Prestige</th>
						<th>Or</th>
						<th>Modifier</th>
						<th>Bannir</th>
						<th>Supprimer</th>
					</tr>
					<% if(data.length){
					for(var i = 0;i < data.length;i++) { %>
					<tr class="tbody text-center">
						<td class="id"       data-id="<%=i%>"><%=data[i].idUser%></td>
						<td class="pseudo"   data-id="<%=i%>"><%=data[i].login%></td>
						<td class="guild"    data-id="<%=i%>"><%=data[i].name%></td>
						<td class="email"    data-id="<%=i%>"><%=data[i].email%></td>
						<td class="role"     data-id="<%=i%>"><%=data[i].role%></td>
						<td class="rank"     data-id="<%=i%>"><%=data[i].rank%></td>
						<td class="prestige" data-id="<%=i%>"><%=data[i].prestige%></td>
						<td class="gold"     data-id="<%=i%>"><%=data[i].gold%></td>
						<td><a class="buttonModifUtilisateur" data-id="<%=i%>" class="texte-header">modifier</a></td>
						<td><a onclick="verifAction()" href="/guildmaster/gestion/bannir/utilisateur/<%=data[i].idUser%>">bannir</a></td>
						<% if(data[i].role!='admin'){ %>
						<td><a onclick="verifAction()" href="/guildmaster/gestion/supprimer/utilisateur/<%=data[i].idUser%>/<%=data[i].login%>/<%=data[i].email%>">supprimer</a></td>
						<% } else { %>
						 <td></td>
						<% } %>
					</tr>
					<% } } %>
				    </table>
			    </div>
		    </div>
	    </div>
	</div>		
    </body>
    <%  } else{ %>
    <meta http-equiv="refresh" content="0; url=/guildmaster" />
    <%  } %>
</html>