<!DOCTYPE html>

<html>
    <head>
	<% include ./styles.ejs %>
      	<% include ./scripts.ejs %>
        <title>Recrutement</title>
     <% include ./header.ejs %>
	<div class="container-fluid">
	     <a href="/guildmaster/magasin">achat d'armures</a>
	    <div class="row">
		    <div class="col-sm-10 col-sm-offset-1">
			    <div class="table-responsive">
				<table class="table table-condensed table-stripped table-hover">
				  <tr class="thead">
				    <th>nom</th>
				    <th>prix</th>
				    <th>rarete</th>
				    <th>force requise</th>
				    <th>endurance requise</th>
				    <th>intelligence requise</th>
				    <th>chance requise</th>
				    <th>dexterite requise</th>
				    <th>force bonus</th>
				    <th>endurance bonus</th>
				    <th>intelligence bonus</th>
				    <th>chance bonus</th>
				    <th>dexterite bonus</th>
				    <th>portee</th>
				    <th>degats</th>
				    <th>acheter</th>
				  </tr>
				  <% if(data.length){ 
				  for(var i = 0;i < data.length;i++) { %>
				  <tr class="tbody text-center">
				   <td><%=data[i].name%></td>
				   <td><%=data[i].price%></td>
				   <td><%=data[i].rarity%></td>
				   <td><%=data[i].minStr%></td>
				   <td><%=data[i].minEnd%></td>
				   <td><%=data[i].minInt%></td>
				   <td><%=data[i].minLuk%></td>
				   <td><%=data[i].minDex%></td>
				   <td><%=data[i].bonusStr%></td>
				   <td><%=data[i].bonusEnd%></td>
				   <td><%=data[i].bonusInt%></td>
				   <td><%=data[i].bonusLuk%></td>
				   <td><%=data[i].bonusDex%></td>
				   <td><%=data[i].distance%></td>
				   <td><%=data[i].minDamage%> - <%=data[i].maxDamage%></td>
				   <td><a href="/guildmaster/magasin/achat/<%=data[i].idEquipment%>/<%=data[i].name%>">acheter</a></td>
				   </tr>
				  <% }
				  } %>
				  </table>
			   </div>
		    </div>
	    </div>
	</div>
    </body>
</html>
