<!DOCTYPE html>

<html>
    <head>
        <title>Personnel</title>

     <% include ./header.ejs %>

<br>
    
    <a href="/guildmaster/personnel/recruter">recruter</a>
    <br><br><br>
    

	<table>
	 <tr>
	  <th width="50px">id</th>
	  <th>nom</th>
	  <th>niveau</th>
	  <th>talent</th>
	  <th>prix</th>
	  <th>detail</th>
	</tr>
	<% if(data.length){ 
	for(var i = 0;i < data.length;i++) { %>
	<tr>
	 <td><%=(i+1)%></td>
	 <td><%=data[i].name%> <%=data[i].surname%></td>
	 <td><%=data[i].level%></td>
	 <td><%=data[i].talent%></td>
	 <td><%=data[i].fee%></td>
	 <td><a href="/guildmaster/personnel/detail/<%=data[i].idCrew%>/<%=data[i].name%>/<%=data[i].surname%>">detail</a></td>
	 </tr>
	<% }
	} %>
	
	</table>

    
    </body>
</html>
