<!DOCTYPE html>

<html>
    <head>
	<link rel="stylesheet" href="/styles.css" type="text/css">
        <title>Personnel</title>
    </head>

    <body>
     <% include ./header.ejs %>

<br>
    
    <a href="/guildmaster/personnel/recruter">recruter</a>
    <br><br><br>
    
    <div class="CSSTableGenerator" >
	<table>
	 <tr>
	  <th width="50px">id</th>
	  <th>nom prenom</th>
	  <th>classe</th>
	  <th>force</th>
	  <th>intelligence</th>
	  <th>vitalite</th>
	  <th>dexterite</th>
	  <th>niveau</th>
	</tr>
	<% if(data.length){ 
	for(var i = 0;i < data.length;i++) { %>
	<tr>
	 <td><%=(i+1)%></td>
	 <td><%=data[i].nom%> <%=data[i].prenom%></td>
	 <td><%=data[i].classe%></td>
	 <td><%=data[i].strength%></td>
 	 <td><%=data[i].intelligence%></td>
	 <td><%=data[i].vitalite%></td>
	 <td><%=data[i].dexterite%></td>
	 <td><%=data[i].niveau%></td>
	 </tr>
	<% }
	} %>
	
	</table>
    </div>
    
    </body>
</html>
