<!DOCTYPE html>

<html>
    <head>
        <title>quetes</title>

     <% include ./header.ejs %>
        <div class="container-fluid">
                <div class="row">
		<% if(data.length){ %> 
                        <div class="col-sm-10 col-sm-offset-1">
                                <div class="table-responsive">
                                    <table class="table table-condensed table-stripped table-hover">
                                     <tr class="thead">
                                      <th>quête</th>
				      <th>escouade</th>
                                      <th></th>
                                    </tr>
					<% for(var i = 0;i < data.length;i++) { %>
					    <tr class="tbody text-center">
					     <td><%= data[i].questName%></td>
					     <td><%= data[i].squadName%></td>
					     <td data-idsquad='<%=data[i].idSquad%>' data-reussitequete='<%=data[i].reussiteQuete%>' data-idquest='<%=data[i].idQuest%>' data-questname='<%=data[i].questName%>' data-squadname='<%=data[i].squadName%>' data-countdown="<%= dateFin[i] %>"></td>
					    </tr>
					<% } %>
				    </tr>    
                                    </table>
                               </div>
                        </div>
	        <% } else {%>
		<h3>aucune quête en cours</h3>
		<% } %>
                </div>
        </div> 
    </body>
	<script type="text/javascript">
	    $('[data-countdown]').each(function() {
	       var $this = $(this), finalDate = $(this).data('countdown'), idQuest = $(this).data('idquest'), idSquad = $this.data('idsquad'), nameSquad = $this.data('squadname'), nameQuest = $this.data('questname'), reussiteQuete = $this.data('reussitequetes');
	       var fin = "<a href='/guildmaster/quete/terminer/"+idQuest+"/"+nameQuest+"/"+idSquad+"/"+nameSquad;
	       if (reussiteQuete==1) {
		fin = fin +  "'> Echec de la mission</a>";
	       }
	       else{
		fin = fin +  "'> Réussite de la mission</a>";
	       }
	      
	       $this.countdown(finalDate, function(event) {
		 $this.html(event.strftime('%Djours %Hh %Mmin %Ssec'));
	       })
	       .on('finish.countdown', $this.html(fin))
	    });
	
       </script>
</html>
