<!DOCTYPE html>

<html>
    <head>
	<% include ./styles.ejs %>
      	<% include ./scripts.ejs %>
        <title>commencer la quete</title>

     <% include ./header.ejs %>
        <div class="container-fluid">
                <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                                <div class="table-responsive">
				     <h1><%=quest[0].name%></h1>
                                     <h3><%=quest[0].summary%></h3>
				     <% quest[0].duree = new Date(quest[0].duree*1000)%>
				     <p>durée: <%= quest[0].duree.getHours()-1 +" H "+ quest[0].duree.getMinutes() +" min "+ quest[0].duree.getSeconds() + "sec"%></p>
				     <% if(quest[0].reward != null){ %>
                                     <p>récompenses: <%=quest[0].reward%>, <%=quest[0].experience%> XP et <%=quest[0].gold%> or</p>
				     <% } else { %>
				     <p>récompenses: <%=quest[0].experience%> XP et  <%=quest[0].gold%> or</p> 
				     <% } %>
                                    <p>quelle escouade va accomplir la tâche? :<p>
		        	    <br>
					    <% if(squad.length){ 
					    for(var i = 0;i < squad.length;i++) { %>
					    <p style="font-size:1.5em;"><%=squad[i].name%>:  <a href="/guildmaster/quete/commencer/validation/<%=quest[0].idQuest%>/<%=quest[0].name%>/<%=squad[i].idSquad%>/<%=squad[i].name%>">c'est parti!</a>
					   </p>
					    <% }
					    } %>
                                </div>
                        </div>
                </div>
            </div> 
    </body>
</html>
