<!DOCTYPE html>

<html>
    <head>
        <title>quetes</title>

     <% include ./header.ejs %>
        <div class="container-fluid">
	    <a href="/guildmaster/quete/EnCours">quêtes en cours</a>
                <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                                <div class="table-responsive">
                                    <table class="table table-condensed table-stripped table-hover">
                                     <tr class="thead">
                                      <th>nom</th>
                                      <th>résumé</th>
                                      <th>durée</th>
                                      <th>récompence</th>
	                              <th>experience</th>
				      <th>or</th>
				      <th></th>
                                    </tr>
                                    <% if(data.length){ 
                                    for(var i = 0;i < data.length;i++) {
					data[i].duree = new Date(data[i].duree*1000)%>
					<tr class="tbody text-center">
					 <td><%= data[i].name%></td>
					 <td><%= data[i].summary%></td>
					 <td><%= data[i].duree.getHours()-1 +" H "+ data[i].duree.getMinutes() +" min "+ data[i].duree.getSeconds() + "sec"%></td>
					 <td><%= data[i].reward%></td>
					 <td><%= data[i].experience%></td>
					 <td><%= data[i].gold%></td>
					<td><a href="/guildmaster/quete/commencer/<%=data[i].idQuest%>/<%=data[i].name%>">choisir</a></td>
					 </tr>
                                    <% }
                                    } %>
                                    </table>
                               </div>
                        </div>
                </div>
        </div> 
    </body>
</html>
